// Put any @imports here
// See Readme for a list of supported ones
@import 'font-awesome';
@import 'bootstrap';

//colors
$tan    	: #F5F5F1;
$orange 	: #F76400;
$aqua   	: #2BA8C6;
$red    	: #F70029;
$yellow 	: #F4CE00;
$green  	: #00C400;
$blue   	: #00CCF5;
$purple 	: #A700F7;
$black  	: #000000;
$white      : #ffffff;
$darkgrey   : #666666;
$lightgrey  : #777777;
$moneyGreen : #76C239;
$lightOrange: #F6C3A1;

.outer-wrapper{
	background-color: $tan;
}

.homeTemplateContainer{
	background-color: $tan;
	max-width: 980px;
	margin: 0 auto;
}


body{
	background-color: $tan;
	width: 100%;
	padding: 0;
	margin: 0;
}


//nav bar
#bs-example-navbar-collapse-1, .container-fluid{
	background-color: $white;
}
.navbar-brand{
	padding-left: 4em;
	font-size: 1.3em;

}
#logo{
	color: $orange;
	text-shadow: 1px 1px 1px $lightgrey;
}
//search bar
.formContainer{
	width: 100%;
	text-align: center;
	form{
		width: 100%;
		text-align: center;
			.form-control{
				width: 20em;
				display: inline-block;
			}
			.btn-default{
			
			}
	}
}

//results box
.resultsContainer{
	background-color: $lightOrange;
	text-align: center;
	border: 1px solid $lightgrey;
	border-radius: 3px;
	padding: 1em;
	width: 100%;
	margin: 0 auto; 
  	h1{
  		margin-top: 0;
  	}
}

.welcomeCard{
	background-color: $lightOrange;
	h1{
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 3em;
		
	}
}


.listingCardWrapper{
	padding: 1em;
	text-align: left;
		img{
			border: 1px solid $lightgrey;
			border-radius: 3px;
		}
	.listingTitle{
		text-align: center;
		width: 90%;
		font-weight: bold;
		background-color: $white;
	}
	.listingUL{
		width: 100%;
		padding: 0;
		margin: 0;
		display: inline-block;
		list-style: none;
			li{
				display: inline-block;
				text-align: center;
				font-size: .9em;
			}
	}
}		

.listingCard{
	border: 1px solid $lightgrey;
	width: 100%;
	background-color: white;
	border-radius: 3px;
	box-shadow: 1px 1px 1px black;
	padding-top: .3em;
	text-align: center;
}

	#listingShopName{
		color: $lightgrey;
		text-align: left;
	}
	#listingPrice{
		color: $moneyGreen;
		text-align: right;
		float: right;
	}

#quantity{
	font-weight: bold;
}

#allCategories{
	color: $aqua;
}

#allCategories:hover{
	text-decoration: underline;
}

.etsyHeader{
	span{
		font-size: 4em;
		font-weight: bold;
		text-shadow: 1px 1px 1px $lightgrey;
		-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: white;
	}
}
