
<!-- results container -->
<div class="resultsContainer col-md-8">

	<div class="etsyHeader" ng-hide="vm.blank">
		<span> ngEtsy </span>
	</div>

	<div class="formContainer" ng-hide="vm.blank">
		<form ng-submit="vm.search(query)">
			<input type="text" placeholder="Search" ng-model="query" class="form-control">
			<button class="btn btn-default">Submit</button>
		</form>
		<br>
		<span> click item to visit product page</span>
	</div>

	<br>

	<div class="quantityContainer" ng-hide="vm.blank">
		<span id="allCategories">All Categories</span><span id="quantity"> >"{{vm.query}}"</span><span> ({{vm.resultQuantity}} Results)</span>
	</div>
	<br>

	<div class="listingCardWrapper col-lg-3 col-md-3 col-xs-12 thumb" ng-repeat="listing in vm.listings" ng-show="listing" >


		<div class="listingCard col-lg-3 col-md-3 col-xs-12 thumb">
			<a href={{listing.url}}>
				<img ng-src={{listing.Images[0].url_170x135}}></a>

			<div class="listingTitle">{{listing.title | limitTo: 20}}</div>

			<ul class="listingUL col-lg-3 col-md-3 col-xs-12 thumb">
				<li id="listingShopName">
					{{listing.Shop.shop_name | limitTo: 12}}</li>
				<li id="listingPrice">
					{{listing.price | currency}}</li>
			</ul>
		</div>
	</div> <!-- end listing card -->


	<div class="welcomeCard" ng-show="vm.blank"><h1>Welcome to ngEtsy!</h1> <span>Use the search bar to find Etsy listings</span></div>
	<br>


	<!-- search form -->
	<div class="formContainer" ng-show="vm.blank">
		<form ng-submit="vm.search(query)">
			<input type="text" placeholder="Search" ng-model="query" class="form-control">
			<button class="btn btn-default">Submit</button>
		</form>
	</div>

</div> <!-- end results container -->


